.container
	%h1 Straight Playin
	.player
		%li
			%a{ :id => "mySong", :href => "http://api.soundcloud.com/tracks/156043202/stream.json?client_id=#{ENV['CLIENT_ID']}&filename=soundcloud.mp3"} Play Song
			%button Previous
			%button{ :class => "play "} Play
			%button Pause
			%button Next
